# Discover Function without Memorization

## Load Excel file

To do things in programming, you need a function.

In this case, you need a function that loads an Excel file in Python.

Functions are stored in libraries (also called modules or packages), which organize functions by topic.

The `pandas` library is used for data manipulation and analysis.

Let's find a function in the `pandas` library that loads an Excel file.

- `tsla_stock.xlsx`

### Import library

```python
import library_name
```

In [1]:
import pandas

### Find function within library with dot notation

```python
library.<TAB>
```

![](src/suggestion-pandas.png)

![](src/suggestion-excel.png)

In [2]:
pandas.read_excel

<function pandas.io.excel._base.read_excel(io, sheet_name: 'str | int | list[IntStrT] | None' = 0, *, header: 'int | Sequence[int] | None' = 0, names: 'SequenceNotStr[Hashable] | range | None' = None, index_col: 'int | str | Sequence[int] | None' = None, usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None, dtype: 'DtypeArg | None' = None, engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None, converters: 'dict[str, Callable] | dict[int, Callable] | None' = None, true_values: 'Iterable[Hashable] | None' = None, false_values: 'Iterable[Hashable] | None' = None, skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, parse_dates: 'list | dict | bool' = False, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'dict[Hashable, str] | str | None' = None, thousands: 'str | None' = None, decimal: 'str' = '.', comment: 'str | None' = None, skipfooter: 'int' = 0, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>, engine_kwargs: 'dict | None' = None) -> 'DataFrame | dict[IntStrT, DataFrame]'>

### Execute function

```python
library.function_name(object) # <CTRL> + <ENTER>
```

In [3]:
pandas.read_excel('tsla_stock.xlsx')

     Name  Height  Weight  Gender
0  Serena    1.78      80  Female
1    Rafa    1.75      85    Male
2   Roger    1.80      83    Male

## Load specific sheet from Excel

### Excel with multiple sheets

The following data represents the stock price of Tesla Inc.

![](src/excel_file.png)

By default, the function `pandas.read_excel` reads the first sheet, which represents another table.

![](src/excel-two-tables.png)

### Function parameters

To modify the default behaviour, you need to add new parameters to the function.

To ask Python for help, you can use the `<SHIFT> + <TAB>` keys.

```python
library.function_name(object, <SHIFT> + <TAB>)
```

![](src/doc-excel.png)

In [4]:
pandas.read_excel('tsla_stock.xlsx', ) #!

     Name  Height  Weight  Gender
0  Serena    1.78      80  Female
1    Rafa    1.75      85    Male
2   Roger    1.80      83    Male

## Load file from folder

In [5]:
pandas.read_csv('data/best_tennis_players_stats.csv')

  Unnamed: 0  income  titles  grand slams  turned professional  wins  losses
0      roger     130     103           20                 1998  1251     275
1       rafa     127      90           21                 2001  1038     209
2       nole     154      86           20                 2003   989     199

## Repository of files for this course

In [6]:
pandas.read_csv('../../data/raw/energy_generation_spain_yearly.csv')

              technology  month  day  hour  generation_mwh
0                 Carbon      1    1     0           250.0
1                 Carbon      1    1     1           250.0
...                  ...    ...  ...   ...             ...
140158  Other Renewables     12   31    22           607.5
140159  Other Renewables     12   31    23           591.6

[140160 rows x 5 columns]

In [7]:
pandas.read_csv('../../data/raw/gapminder.csv')

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
...,...,...,...,...,...,...,...,...
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716